# Ignore all CSV files
*.csv

# Ignore all log files
*.log
jira*.txt
*-log-*.txt

# Ignore environment file
.env
test.env

# Ignore update logs
update-log-*.csv
jira-update-log-*.txt

#ignore zip
*.zip